<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footer-grid">
      <div>
        <div class="brand-text" style="margin-bottom:10px;">
          <strong>Навчально-науковий Інститут телекомунікаційних систем</strong>
          <span>КПІ ім. Ігоря Сікорського</span>
        </div>
        <p class="small">
          Сайт підготовлено для абітурієнтів НН ІТС
          Матеріали — на основі офіційних описів освітніх програм.
        </p>
        <p class="small">© 2026 НН ІТС КПІ ім. Ігоря Сікорського</p>
      </div>


      <div class="footer-links-wrapper">
        <h4 class="footer-links-title">Корисні посилання</h4>

        <div class="footer-links">
          <a href="https://kpi.ua/its" target="_blank" rel="noopener">
            <span class="icon">🎓</span>
            Про НН ІТС
          </a>
          <a href="https://its.kpi.ua/" target="_blank" rel="noopener">
            <span class="icon">🌐</span>
            Сайт НН ІТС
          </a>
          <a href="https://osvita.kpi.ua/its" target="_blank" rel="noopener">
            <span class="icon">🎓</span>
            Освітні програми КПІ ім. Ігоря Сікорського
          </a>
          <a href="https://vstup.kpi.ua/" target="_blank" rel="noopener">
            <span class="icon">🌐</span>
            Сайт для вступників КПІ ім. Ігоря Сікорського
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
